main{
    height: auto;
    padding: 0 3vw;
    transform: translateY(-5vh);
}

.main-content{
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    transform: translateY(-8vh);
    background: var(--white);
    padding: 3.5vh 2vw;
}

.main-content > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content header div.right-content{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.main-content header div.right-content span{
    color: var(--nav-items-color);
    filter: brightness(80%);
    font-size: 1.2rem;
}
.main-content header div.right-content span:last-child{
    filter: brightness(120%);
}

.left-content{
    display: flex;
    column-gap: 25px;
    width: auto;
    margin-bottom: 1vh;
}


.left-content button{
    background: #181818;
    color: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: grid;
    font-size: 1.2rem;
    place-content: center;
    cursor: pointer;
    transition: .8s ease;
}

.left-content button:hover{
    opacity: .8;
}