:root{
    --orange-rating: #ffa900;
}

.banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -35px;
    display: flex;
    justify-content: flex-end;
    padding: 22px 25px;
    border-radius: 2px;
    transition: .5s ease;
    position: relative;
    overflow: hidden;
}

.banner-image{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    transition: .5s ease;
}

.banner:hover img{ 
    transform: scale(1.1);
}

.banner #rating-label{
    background: var(--orange-rating);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    column-gap: 8px;
    height: 30px;
    color: #fff;
    font-size: .8rem;
    padding: 5px 14px;
    box-sizing: border-box;
}

.banner #rating-label label{
    margin-top: 2px;
}